name: CI (Automated Tests)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build the Docker image
        run: docker compose build rct

      - name: Run tests in Docker
        run: docker compose run --rm rct python -m pytest tests/
